<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Info</title>
<!--/*/ <th:block th:include="common/comOne :: head"/> /*/-->
</head>
<body>
	<div class="container">
		<h1 th:text="'subject.authenticated='+${subject.authenticated}"></h1>
		<h1 th:text="'Account Info Page for: ' + ${name} + '!'" />

		<a th:href="@{/signInPage}" class="btn btn-primary">Sign in</a>
		
		<form id="logoutForm" style="margin-top: 10px;" action="javascript:void(0);"  method="post">
			<input id='user_logout' type="submit" class="btn btn-danger" value="Logout" />
		</form>

	</div>
	
	<!--/*/ <th:block th:include="common/comOne :: body"/> /*/-->
	
	<script type="text/javascript">
	
		xy((e)=>{
			let logoutBtn = xy("#user_logout");
			logoutBtn.click((e)=>{
				xy.q({
					url:'user/logout',
					type:xy.Ajax.TYPE_POST,
					dataType:xy.Ajax.DATA_TYPE_JSON,
					success(d){
						console.log(d);
						location.href = d.data.url;
					}
				});
			});
		});
	
	</script>
</body>
</html>